DATABASE_URL="prisma+postgres://localhost:51213/?"

# Get from better-auth docs
BETTER_AUTH_SECRET=YOURS_KEY_FROM_BETTER_AUTH
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Needed for seeding
TMDB_API_KEY=